  body {
    position: relative;
    background-color: #fff;
    font-family: system-ui;
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .menu {
    display: flex;
    flex-direction: column;
}
.menu a {
  margin-bottom:10px;
}
.right{
  margin-top:14px;
}
.content{
  flex-direction: column;
}
.space{
  width:100% !important;
}
}
.con{
  position: relative;
/*    overflow: hidden;*/
    width: 100%;
    height: 100%;
}
.menu__menu{
  background:#434141;
  margin-bottom:20px;
}
.menu {
    display: flex;
    justify-content: space-around;
    background: #434141;
    padding: 18px 0px;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.content{
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}
a {
}

.menu a {
    display: block;
    text-decoration: none;
    color: white;
}
.title {
    font-size: 40px;
    margin: auto 15px;
}
html {
    scroll-behavior: smooth;
}
.description {
    font-size: large;
    margin-top: 10px;
    margin: auto 15px;
    max-width: fit-content;
}
.margin{
  margin-top:10px;
}
#about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.download-btn {
    font-size: 40px;
    margin-top: 20px;
    display: block;
    border: 2px solid;
    color: black;
    text-decoration: none;
    padding: 15px;
    transition: .6s;
}
.download-btn:hover {
    background: black;
    color: white;
    border: 2px solid;
    transition: .6s;
}
#gallery{
  display: flex;flex-direction: column;align-items:center;justify-content: center;
}
.space{
  width:60%;
}